气象台天气/气象台天气.json
[{
	"id":"7c96e58c.66385c",
	"type":"http request",
	"z":"e65a849f.c16bc8",
	"name":"天气实时情况",
	"method":"GET",
	"ret":"txt",
	"paytoqs":false,
	"url":"http://www.nmc.cn/f/rest/{{{payload}}}/{{{city_code}}}",
	"tls":"","proxy":"","authType":"",
	"x":566.014892578125,
	"y":212.0029754638672,
	"wires":[["6c1a0218.c2572c"]]},
{
	"id":"1c9bef0d.92ead1","type":"function","z":"e65a849f.c16bc8",
	"name":"中国气象台城市码",
	"func":"//city code\nmsg.city_code = 'xxxxx';\n\n//content\n//msg.content = msg.payload;\n\nreturn msg;",
	"outputs":1,"noerr":0,"x":362.0147933959961,
	"y":214.00297451019287,
	"wires":[["7c96e58c.66385c"]]},
{
	"id":"6c1a0218.c2572c",
	"type":"json",
	"z":"e65a849f.c16bc8",
	"name":"",
	"property":"payload",
	"action":"",
	"pretty":false,
	"x":741.015043258667,
	"y":213.00296878814697,
	"wires":[["f2afdcf4.829f8",
	"5faae293.b465dc"]]},

	{"id":"e48f3d28.39418","type":"inject","z":"e65a849f.c16bc8",
	"name":"每晚8点播报",
	"topic":"","payload":"weather","payloadType":"str","repeat":"","crontab":"00 20 * * *",
"once":false,"onceDelay":0.1,"x":147.01475143432617,"y":214.00296926498413,
"wires":[["1c9bef0d.92ead1"]]},{"id":"f2afdcf4.829f8","type":"function",
	"z":"e65a849f.c16bc8","name":"天气内容",
	"func":"var message = \"下面为您播报天气情况，今天晚上\" + msg.payload[0].detail[0].night.weather.info + \",\" +msg.payload[0].detail[0].night.wind.power + \"，平均气温\" + msg.payload[0].detail[0].night.weather.temperature  + \"摄氏度，明天白天\" + msg.payload[0].detail[1].day.weather.info + \",\" + msg.payload[0].detail[1].day.wind.power + \"，平均气温\" + msg.payload[0].detail[1].day.weather.temperature + \"摄氏度\" + \",\";\n//var message = \"天气播报\";\nmsg.payload = {};\nmsg.payload.data = {\"message\":message};\nreturn msg;\n",
			"outputs":1,"noerr":0,"x":907.9165840148926,"y":213.60138130187988,"wires":
	[["cdcc1f85.396e9"]]},
	{"id":"5faae293.b465dc","type":"switch","z":"e65a849f.c16bc8","name":"判断是否有雨","property":"payload[0].detail[0].night.weather.info","propertyType":"msg","rules":
		[{"t":"regex","v":"雨","vt":"str","case":false}],"checkall":
	"true","repair":false,"outputs":1,"x":731.9228248596191,
"y":287.12534379959106,"wires":[["50e567fc.6f38a8"]]},
{
	"id":"50e567fc.6f38a8",
	"type":"function",
	"z":"e65a849f.c16bc8","name":
"关窗提醒",
"func":"var message = \"晚上有雨，要关好窗户哦\"\n//var message = \"天气播报\";
\nmsg.payload = {};\nmsg.payload.data1 = {\"message\":message};\nreturn msg;","outputs":1,"noerr":0,
"x":910.9228019714355,"y":286.2206745147705,
"wires":[["cdcc1f85.396e9"]]},
{
"id":"cdcc1f85.396e9","type":"join","z":"e65a849f.c16bc8",
"name":"","mode":"custom",
"build":"merged","property":"payload",
"propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str",
"accumulate":false,
"timeout":"1",
"count":"5",
"reduceRight":false,
"reduceExp":"",
"reduceInit":"",
"reduceInitType":"",
"reduceFixup":"",
"x":1053.0151443481445,"y":251.9078826904297,"wires":[["6ce1534e.14107c"]]},
{"id":"7ed5136.80e27ec","type":"api-call-service","z":"e65a849f.c16bc8",
"name":"R1播报","server":"803408a2.f74798","version":1,"service_domain":"tts","service":"baidu_say",
"entityId":"media_player.192_168_0_237","data":"","dataType":"json","mergecontext":"",
"output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1347.01558303833,"y":285.90778255462646,"wires":[[]]},
{"id":"6ce1534e.14107c","type":"function","z":"e65a849f.c16bc8","name":"合并TTS",
	"func":"var message = msg.payload.data.message + msg.payload.data1.message;
\n//var message = \"天气播报\";\nmsg.payload = {};
\nmsg.payload.data = {\"message\":message};\nreturn msg;
\n","outputs":1,
"noerr":0,
"x":1196.9137573242188,
"y":252.21738052368164,
"wires":[["6fcf6d17.8fa054","7ed5136.80e27ec"]]},
{"id":"8851fbc7.334648","type":"comment","z":"e65a849f.c16bc8",
"name":"气象台定时播报","info":"","x":130.01474380493164,
"y":170.00286865234375,"wires":[]},{"id":"6fcf6d17.8fa054",
"type":"api-call-service","z":"e65a849f.c16bc8","name":"小爱播报",
"server":"803408a2.f74798","version":1,"service_domain":"hello_miai",
"service":"add2msgqueue","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"",
"output_location_type":"none","mustacheAltTags":false,"x":1345.0147666931152,"y":213.00286865234375,"wires":[[]]},
{"id":"803408a2.f74798","type":"server","z":"","name":"my","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,
"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true}]